Temp/
Library/
obj/
*.svd

!Library/*.asset
!Library/AssetImportState
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/ScriptMapper
!Library/assetservercachev3
!Library/expandedItems
!Library/guidmapper
!Library/unity default resources
!Library/unity editor resources



/GameJam/GameJam.userprefs
/GameJam/Assembly-CSharp.csproj
/GameJam/Assembly-CSharp.pidb
/GameJam/Assembly-CSharp-Editor.csproj
/GameJam/Assembly-CSharp-Editor.pidb
/GameJam/Assembly-CSharp-Editor-vs.csproj
/GameJam/Assembly-CSharp-firstpass.csproj
/GameJam/Assembly-CSharp-firstpass.pidb
/GameJam/Assembly-CSharp-firstpass-vs.csproj
/GameJam/Assembly-CSharp-vs.csproj
/GameJam/Assembly-UnityScript-firstpass.pidb
/GameJam/Assembly-UnityScript-firstpass.unityproj
/GameJam/Assembly-UnityScript-firstpass-vs.unityproj
/GameJam/GameJam.suo