Temp/
Library/
obj/
*.svd

/GameJam/Library/*.asset
/GameJam/Library/AssetImportState
/GameJam/Library/AssetVersioning.db
/GameJam/Library/BuildPlayer.prefs
/GameJam/Library/ScriptMapper
/GameJam/Library/assetservercachev3
/GameJam/Library/expandedItems
/GameJam/Library/guidmapper
/GameJam/Library/unity default resources
/GameJam/Library/unity editor resources



/GameJam/GameJam.userprefs
/GameJam/Assembly-CSharp.csproj
/GameJam/Assembly-CSharp.pidb
/GameJam/Assembly-CSharp-Editor.csproj
/GameJam/Assembly-CSharp-Editor.pidb
/GameJam/Assembly-CSharp-Editor-vs.csproj
/GameJam/Assembly-CSharp-firstpass.csproj
/GameJam/Assembly-CSharp-firstpass.pidb
/GameJam/Assembly-CSharp-firstpass-vs.csproj
/GameJam/Assembly-CSharp-vs.csproj
/GameJam/Assembly-UnityScript-firstpass.pidb
/GameJam/Assembly-UnityScript-firstpass.unityproj
/GameJam/Assembly-UnityScript-firstpass-vs.unityproj
/GameJam/GameJam.suo